/* Add your desired dark theme styles here */
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #222222;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 10px 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container h1 {
    font-size: 28px;
  }
  
  .welcome-container {
    font-size: 18px;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(68, 68, 68, 0.686);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%; /* Adjust the width for smaller screens */
    max-width: 400px; /* Limit the width on larger screens */
  }
  
  .form-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-container label {
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-color: rgba(68, 68, 68, 0.698);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    appearance: none;
    -webkit-appearance: none;
    font-size: 16px; /* Adjust the font size */
  }
  
  ::placeholder {
    color: #ccc;
    transition: color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  input[type="submit"] {
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #00bcd4;
    transform: translateY(-5px);
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Add responsive CSS rules */
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    .login-card {
      width: 40%;
    }
  }
  